.resourcePack {
  color: white;
  filter: drop-shadow(3px 3px 3px black);
  text-shadow: 2px 2px 5px black;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  align-items: center;
}

.resourcePack p {
  margin: 0.2em 0;
}

.labelContainer {
  height: calc(6.2rem - 2em);
  padding: 1.5em 2em;
  flex: 1;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
}

.warningLabelContainer {
  height: calc(6.2rem - 2em);
  padding: 1.5em 2em;
  flex: 1;
  display: flex;
  align-content: stretch;
  justify-content: center;
  flex-direction: column;
}

.label {
  font-size: 1.8em;
  font-weight: normal;
}
