p,
h1 {
  margin: 0;
  padding: 0;
  cursor: default;
}

h1 {
  text-shadow: 3px 3px 1px #000;
}

.app {
  background-image: url('../../images/main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.app main {
  padding: 4em 6em;
  min-height: calc(100vh - 8em);
  position: relative;
  display: flex;
  flex-direction: column;
}

.appHeader {
  color: white;
  text-align: center;
  font-size: 1.9rem;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
