p, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  text-shadow: 1px 1px 1px #000;
}

.app {
  background-image: url('../../images/main.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.app main {
  padding: 2rem;
}

.appHeader {
  color: white;
  text-align: center;
}
