.container {
  display: flex;
  font-weight: 300;
  backdrop-filter: blur(10px);
  background-color: rgba(50, 50, 50, 0.45);
  padding: 0.5em 1em;
  border-radius: 1em;
}

.label {
  font-weight: 600;
}
