.container {
  margin-left: 0.5em;
  backdrop-filter: blur(10px);
  background-color: rgba(50, 50, 50, 0.45);
  border-radius: 0 1em 1em 0;
  min-width: 8em;
  max-width: 8em;
  min-height: calc(7.2rem);
  display: flex;
  align-items: stretch;
  position: relative;
}

.button {
  display: block;
  background-color: transparent;
  color: white;
  border:none;
  font-size: 3em;
  flex: 1;
}

.buttonHover:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

.container p {
  padding: 0.8em;
  justify-self: center;
  align-self: center;
}
